.single_add_to_cart_button {
    outline:none;
    border:none;
    padding:.75rem 2rem;
    background-color: $pri;
    color:#fff;
    font-size: $px20;
    line-height: $px25;
    width: 100%;
    border-radius: .25rem;
    margin:1rem 0; 
}