.heading-block {
    .container {
        @include normalStructure();
        .title {
            font-size: $px35;
            font-weight: 700;
            margin-bottom:1rem;
            text-align: center;
        }
    }
    &.margins{
        margin:5rem 0;
    }
    &.top-margin{
        margin-top:5rem;
    }
    &.bot-margin {
        margin-bottom:5rem;
    }
}