@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../assets/fonts/#{$file_name}.woff") format("woff"),
      url("../assets/fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
  }
  
  @import "variables-mixins";
  @import "body";
  @import "fonts";
  @import "header";
  @import "footer";
  @import "blocks/slider-block";
  @import "blocks/image-text-block";
  @import "blocks/before-after-block";
  @import "blocks/three-columns-block";
  @import "blocks/faq-block";
  @import "blocks/featured-product";

  