body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  body.modal-is-open,
  body *.modal-is-open {
    overflow-y: hidden; }

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth; }
  @media (max-width: 1420px) {
    html {
      font-size: 18px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 15px; } }
  @media (max-width: 750px) {
    html {
      font-size: 14px; } }

input {
  appearance: none;
  font-family: 'Montserrat', sans-serif; }

button {
  font-family: 'Montserrat', sans-serif; }

input:focus,
textarea:focus,
select:focus {
  outline: none; }

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #000; }

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000; }

h3 {
  font-size: 1.5rem;
  font-weight: 700; }

h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #000; }

p {
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem; }
  p:hover {
    transition: .2s ease-in; }

a {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  transition: .2s all ease-in; }
  a:hover {
    transition: .2s all ease-in;
    color: #005CE9; }
  a.btn-primary {
    background-color: #005CE9;
    padding: 1rem 3rem;
    color: #fff;
    line-height: 1.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s all ease-in; }
    a.btn-primary:hover {
      border-radius: 25px; }
  a.btn-secondary {
    background-color: #F6F8FA;
    padding: 1rem 2rem;
    color: #005CE9;
    line-height: 1.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s all ease-in;
    border: 1px solid transparent; }
    a.btn-secondary:hover {
      border-radius: 25px;
      border: 1px solid #005CE9; }

ul {
  list-style-type: none; }

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url(cecea2fa024fb098488607d5cc87e52e.woff) format("woff"), url(15d96c0b813b7c5323b2ec36d87fc5ab.woff2) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-display: swap;
  src: url(78bc42c0bd2d3c1606b4579fe6b2cc83.woff) format("woff"), url(20b003234dad933324ea899d1aabd22f.woff2) format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url(b4fde34707c4ba3d0a75e7f93cee38fe.woff) format("woff"), url(23f80a866506598cd6d4f0e637ffb5ac.woff2) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url(4c9f31a2f887baf92d89fb202dc49674.woff) format("woff"), url(e6e0b3911eadfe5cf2d6f691518096c9.woff2) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url(2f7b9cd69a9121fba66d09c1d50a8045.woff) format("woff"), url(c567dab977b0bf0594f98f43731128d4.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url(29338c2c9c6dfd340002b883e48c4b7d.woff) format("woff"), url(b9d4507772c2828afb29e1ab24462c2c.woff2) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-display: swap;
  src: url(fa46885a2496f14e120c76f08c23a046.woff) format("woff"), url(c047a31447aa7a62c2e9f639a7387620.woff2) format("woff2");
  font-weight: 800;
  font-style: normal; }

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .topbar p {
    font-size: 0.85rem;
    padding: .3rem 0;
    font-weight: 400; }

header {
  box-shadow: 0px 4px 7px #0000001c; }
  header .header {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content 1fr 100px;
    align-items: center;
    gap: 1rem;
    padding: .7rem 0; }
    @media (min-width: 2000px) {
      header .header {
        width: 1600px; } }
    @media (max-width: 1200px) {
      header .header {
        width: 80%; } }
    @media (max-width: 1024px) {
      header .header {
        width: 85%; } }
    @media (max-width: 768px) {
      header .header {
        width: 90%; } }
    @media (max-width: 480px) {
      header .header {
        width: 95%; } }
    header .header .logo-col img {
      width: 250px; }
    header .header .menu-col nav {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: space-evenly; }
      header .header .menu-col nav li a {
        font-size: 0.85rem;
        font-weight: 500; }
    header .header .cart-col img {
      width: 24px;
      cursor: pointer; }

footer .main-footer {
  padding: 3rem 0; }
  footer .main-footer .footer-wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; }
    @media (min-width: 2000px) {
      footer .main-footer .footer-wrapper {
        width: 1600px; } }
    @media (max-width: 1200px) {
      footer .main-footer .footer-wrapper {
        width: 80%; } }
    @media (max-width: 1024px) {
      footer .main-footer .footer-wrapper {
        width: 85%; } }
    @media (max-width: 768px) {
      footer .main-footer .footer-wrapper {
        width: 90%; } }
    @media (max-width: 480px) {
      footer .main-footer .footer-wrapper {
        width: 95%; } }
    footer .main-footer .footer-wrapper .footer-first .footer-logo img {
      width: 70%; }
    footer .main-footer .footer-wrapper .footer-first .footer-socials {
      display: flex;
      align-items: flex-start;
      gap: 1rem; }
      footer .main-footer .footer-wrapper .footer-first .footer-socials .social-icon {
        width: 24px; }
        footer .main-footer .footer-wrapper .footer-first .footer-socials .social-icon.social-big {
          width: 35px; }
        footer .main-footer .footer-wrapper .footer-first .footer-socials .social-icon.social-bigger {
          width: 40px; }
    footer .main-footer .footer-wrapper nav {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: .5rem; }
      footer .main-footer .footer-wrapper nav li {
        font-weight: 400;
        font-size: 0.85rem; }
        footer .main-footer .footer-wrapper nav li a {
          color: #FFf; }
  footer .main-footer .footer-payments {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .main-footer .footer-payments img {
      width: 20%; }
  footer .main-footer .footer-copy {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .main-footer .footer-copy p {
      color: #fff;
      font-size: .6rem; }

.slider .splide .splide__track ul.splide__list li {
  position: relative;
  background-size: cover;
  height: 100vh; }
  .slider .splide .splide__track ul.splide__list li.left-align .slider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%); }
  .slider .splide .splide__track ul.splide__list li.center-align .slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .slider .splide .splide__track ul.splide__list li.right-align .slider-content {
    display: flex;
    align-items: self-end;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%); }
  .slider .splide .splide__track ul.splide__list li .slider-content .hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: .5rem; }
  .slider .splide .splide__track ul.splide__list li .slider-content .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 1rem; }

.image-text-block {
  margin: 5rem 0; }
  .image-text-block .container {
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 2000px) {
      .image-text-block .container {
        width: 1600px; } }
    @media (max-width: 1200px) {
      .image-text-block .container {
        width: 80%; } }
    @media (max-width: 1024px) {
      .image-text-block .container {
        width: 85%; } }
    @media (max-width: 768px) {
      .image-text-block .container {
        width: 90%; } }
    @media (max-width: 480px) {
      .image-text-block .container {
        width: 95%; } }
    .image-text-block .container .image-text-wrapper {
      display: flex;
      gap: 2rem;
      align-items: center; }
      .image-text-block .container .image-text-wrapper.img-right {
        flex-direction: row-reverse; }
      .image-text-block .container .image-text-wrapper .column {
        width: 50%; }
        .image-text-block .container .image-text-wrapper .column img {
          width: 100%; }
        .image-text-block .container .image-text-wrapper .column .pretitle {
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 1.1rem;
          margin-bottom: .7rem; }
        .image-text-block .container .image-text-wrapper .column .title {
          font-size: 1.75rem;
          font-weight: 700;
          margin-bottom: 1rem; }
        .image-text-block .container .image-text-wrapper .column p {
          font-size: 0.9rem;
          font-weight: 400; }
        .image-text-block .container .image-text-wrapper .column a {
          margin-top: 1rem; }

.before-after-block .container {
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 2000px) {
    .before-after-block .container {
      width: 1600px; } }
  @media (max-width: 1200px) {
    .before-after-block .container {
      width: 80%; } }
  @media (max-width: 1024px) {
    .before-after-block .container {
      width: 85%; } }
  @media (max-width: 768px) {
    .before-after-block .container {
      width: 90%; } }
  @media (max-width: 480px) {
    .before-after-block .container {
      width: 95%; } }
  .before-after-block .container .before-after-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center; }
    .before-after-block .container .before-after-wrapper .column {
      width: 50%; }
      .before-after-block .container .before-after-wrapper .column img {
        width: 100%; }
      .before-after-block .container .before-after-wrapper .column.beer-slider {
        display: flex;
        align-items: center;
        justify-content: center; }
      .before-after-block .container .before-after-wrapper .column .pretitle {
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: .7rem; }
      .before-after-block .container .before-after-wrapper .column .title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .before-after-block .container .before-after-wrapper .column p {
        font-size: 0.9rem;
        font-weight: 400; }
      .before-after-block .container .before-after-wrapper .column a {
        margin-top: 1rem; }

.three-columns-block {
  margin: 5rem 0; }
  .three-columns-block .container {
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 2000px) {
      .three-columns-block .container {
        width: 1600px; } }
    @media (max-width: 1200px) {
      .three-columns-block .container {
        width: 80%; } }
    @media (max-width: 1024px) {
      .three-columns-block .container {
        width: 85%; } }
    @media (max-width: 768px) {
      .three-columns-block .container {
        width: 90%; } }
    @media (max-width: 480px) {
      .three-columns-block .container {
        width: 95%; } }
    .three-columns-block .container .three-columns-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem; }
      .three-columns-block .container .three-columns-wrapper .column img {
        width: 100%;
        margin-bottom: .5rem; }
      .three-columns-block .container .three-columns-wrapper .column .title {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      .three-columns-block .container .three-columns-wrapper .column p {
        font-size: 0.9rem; }

.faq-block {
  margin: 5rem 0; }
  .faq-block .container {
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 2000px) {
      .faq-block .container {
        width: 1600px; } }
    @media (max-width: 1200px) {
      .faq-block .container {
        width: 80%; } }
    @media (max-width: 1024px) {
      .faq-block .container {
        width: 85%; } }
    @media (max-width: 768px) {
      .faq-block .container {
        width: 90%; } }
    @media (max-width: 480px) {
      .faq-block .container {
        width: 95%; } }
    .faq-block .container .text-container {
      margin-bottom: 3rem; }
      .faq-block .container .text-container .title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .faq-block .container .text-container p {
        font-size: 0.9rem; }
    .faq-block .container .faqs button {
      width: 100%;
      display: flex;
      outline: none;
      border: none;
      position: relative;
      padding: .5rem 0;
      background-color: transparent;
      transition: .2s all;
      margin-bottom: 1rem;
      border-bottom: 1px solid #d4d4d4; }
      .faq-block .container .faqs button p {
        font-size: 1.1rem;
        font-weight: 600;
        transition: .2s all; }
      .faq-block .container .faqs button svg {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
        transition: .2s all ease-in-out;
        transform-origin: 100% 0%; }
      .faq-block .container .faqs button.active {
        border-bottom: none;
        margin-bottom: .5rem; }
        .faq-block .container .faqs button.active p {
          transform: translateX(1rem); }
        .faq-block .container .faqs button.active svg {
          transform: rotate(45deg); }
          .faq-block .container .faqs button.active svg line {
            stroke: #005CE9; }
    .faq-block .container .faqs .faqpanel {
      display: none;
      animation: slide .2s ease-in;
      margin-bottom: 1rem;
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 1rem; }
      .faq-block .container .faqs .faqpanel.active {
        display: block;
        animation: slide .2s ease-in; }

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

